#container {
    padding: 2rem;
    width: 350px;
    height: 330px;
    background: #eee;
    text-align: center;
    justify-content: center;
    box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: 15px;
}
#container div span #toggleBtn{
    position: absolute;
    top: 13px;
    left: 222px;
    width: 30px;
    height: 30px;
    background: rgba(0,0,0,0.2);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container div span #toggleBtn::before{
    content: '\f06e';
    font-family: fontAwesome;
}
#container div span #toggleBtn.hide::before{
    content: '\f070';
}
#container div .forget_pwd{
    position: relative;
    left: 40px;
}